

<div class= "container-fluid">
    <div class= "container mr-0 mt-3">
        <img src="/images/burger3.jpg" 
         id= "burgerpic">
    </div>
</div>
    <div class= "col md 12" style="text-align:center">
            <h1>Eat da Burger!</h1>
    </div>
    <br>

    <div class="row">
        <div class="col md 6">
            <h2>Fav Burgers</h2>
                <u1>
                    {{#each addaBurger}}
                        {{#unless devoured}}
                            {{>addaBurger/burger-block devoured=true}}
                        {{/unless}}
                    {{/each}}
                </u1>
        </div>
        <div class="col md 6">
            <h2>Burgers Devoured</h2>
                <u1>
                    {{#each addaBurger}}
                        {{#if devoured}}
                            {{>addaBurger/burger-block devoured=false}}
                        {{/if}}
                    {{/each}}
                </u1>
        </div>
    </div>

<div class="row" style="margin-top: 25px;">
    <div class="col md 12">
        <form class="inUp-form inUp-form-sm" method="POST" action="/api/addaBurger">
        <textarea class="form-control" id="burger-text-area" type="text" name="burger_name" placeholder="Add Your Favorite Burger Here"></textarea>
				<button type="submit" class="orderNew btn-outline-dark btn btn-info mb-3" id="new-burger-button">Submit</button>
        </form>
    </div>
</div>
</div>

